/*extract from inner.css*/

div {
  background-color: #444;
}

/*extract from innerDir.css\article.css*/

.article .title {
  background-color: #444;
}

/*extract from style.css*/

div {
  background-color: #444;
}